#wm specific
alias wmproxy='ssh -i .ssh/izzo -N -D 5001 b0g00a0@192.168.1.107'
alias wmvpn='sshuttle -v --dns -NHr b0g00a0@192.168.1.107 -x 192.168.1.107 0/0'
alias sudo='sudo '
alias gdi='sudo !!'
alias ccc='sudo rm ~/.ssh/known_hosts'
alias whatismyip="curl ipinfo.io | egrep 'region' --color=always -z"
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
alias scan='netdiscover -i eth0 -r 192.168.17.0/24'
alias hh='echo IP:$(hostname -I) && sudo python3 -m http.server 81'
alias zipdir='sudo 7z a zipped.7z *'
alias untar='tar -zxvf '
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
alias ports='sudo netstat -tulanp'
alias oh='sudo xdg-open .'
alias gh='history|grep'
alias change2www='sudo chown -R www-data:www-data .'
alias check='python3 /opt/checker.py'

#sort by file size
alias lt='ls --human-readable --size -1 -S --classify'

#show mounted drives cleanly
alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3; }' | column -t | egrep ^/dev/ | sort"

#stock
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
